$size-s: 4;
$size-m: 8;
$sizel: 16;
$size-xl: 24;
$size-xxl: 32;
$size-xxxl: 64;

$primary-color: #17191C;
$secondary-color: #35373B;
$tertiary-color: #ffffff;

$text-color-primary: $tertiary-color;
$text-color-secondary: $tertiary-color;

$title-size: 24;
$text-size: 18;