$size-xs: 6;
$size-s: 12;
$size-m: 24;
$size-l: 36;
$size-xl: 60;
$size-xxl: 84;
$size-xxxl: 108;

$primary-color: #17191c;
$secondary-color: #35373B;
$tertiary-color: #ffffff;

$text-color-primary: $tertiary-color;
$text-color-secondary: $primary-color;

$title-size: 24;
$text-size: 18;