$size-xs: 4;
$size-s: 8;
$size-m: 16;
$size-l: 24;
$size-xl: 32;
$size-xxl: 64;

$primary-color: #17191c;
$secondary-color: #35373B;
$tertiary-color: #ffffff;

$text-color-primary: $tertiary-color;
$text-color-secondary: $tertiary-color;

$title-size: 24;
$text-size: 18;